@import 'reset';
@import 'Gotham-Black';
// @import 'fontawesome';
// @import 'fa-solid';
// @import 'fa-brands';
// font-family: 'Lato', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Gotham', sans-serif; 
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    outline: 1px solid green;
}

.logo {
    float: left;
    margin: 22px 0;
    .logo_img {
        width: 50px;
        height: 48px;
    }
}

.main_menu {
    float: right;
    .main_menu_list_item {
        display: inline-block;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 0;
    }
    .main_menu_list_item_link {
        color: #868686;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        padding: 12px 16px;
    }
    .main_menu_list_item:hover .main_menu_list_item_link {
        background-color: #ffbb42;
        color: #ffffff;
    }
}

.logo,
.main_menu {
    vertical-align: top;
}

.slider {
    background-color: #709dca;
    text-align: center;
    font-family: 'Gotham', sans-serif;
    color: #ffffff;
    .slider_title {
        font-size: 35px;
        font-weight: 900;
        line-height: 0.69;
        letter-spacing: -0.9px;
        padding-top: 110px;
    }
    .slider_text {
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: normal;
        margin-top: 10px;
    }
}

.main_header_form {
    padding-top: 30px;
    padding-bottom: 347px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    .main_header_form_input {
        width: 281px - 42px;
        height: 40px;
        border-radius: 2px;
        margin-right: 5px;
        padding-left: 40px;
        color: #a9a9a9;
        opacity: 1;
    }
    .form_decor {
        color: #a9a9a9;
        opacity: 1;
        position: absolute;
        width: 15px;
        height: 15px;
        display: block;
        top: 16px;
        left: 15px;
    }
    .wrap {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 0 auto;
    }
    .main_header_form_button {
        width: 211px;
        height: 46px;
        border: none;
        border-radius: 2px;
        background-color: #ffbb42;
        text-align: center;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        display: inline-block;
        color: #ffffff;
        text-transform: uppercase;
    }
}

.service {
    .service_list {
        display: inline-block;
        font-size: 0;
        margin-top: 93px;
    }
    text-align: center;
    color: #394b50;
    font-family: 'Open Sans',
    sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    margin-top: 203px;
    .service_title {
        font-family: 'Gotham', sans-serif;
        font-size: 30px;
        font-weight: 900;
        line-height: 0.73;
        letter-spacing: -0.8px;
    }
    .service_text {
        font-size: 16px;
        line-height: 1.38;
    }
}
.service_wrap_row{
    outline: 1px solid greenyellow;
}
.service_list_item {
    padding-left: 38px + 43px;
    margin-top: 79px;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    outline: 1px solid red;
    position: relative;
    width: 50%;
    box-sizing: border-box;
    .sevice_list_item--title {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        line-height: 1.38;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase; // color: #394b50;
    }
    .sevice_list_item--text {
        padding-top: 21px;
        padding-right: 60px;
        font-size: 13px;
        line-height: 1.69;
        text-align: left;
        color: #7b7b7b;
    }
    .service_list_decor {
        color: #709dca;
        font-size: 50px;
        position: absolute;
        top: 0;left: 0;
    }
}
