@import 'reset';
@import 'fontawesome';
@import 'fa-solid';
@import 'fa-brands';
// font-family: 'Lato', sans-serif;
// font-family: 'Open Sans', sans-serif;
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.logo {
    float: left;
    margin: 22px 0;
    .logo_img {
        width: 50px;
        height: 48px;
    }
}

.main_menu {
    float: right;
    .main_menu_list_item {
        display: inline-block;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 0;
    }
    .main_menu_list_item_link {
        color: #868686;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        padding: 12px 16px;
    }
    .main_menu_list_item:hover .main_menu_list_item_link {
        background-color: #ffbb42;
        color: #ffffff;
    }
}

.logo,
.main_menu {
    vertical-align: top;
}

.slider {
    background-color: #709dca;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    .slider_title {
        font-size: 35px;
        font-weight: 900;
        line-height: 0.69;
        letter-spacing: -0.9px;
        padding-top: 110px;
    }
    .slider_text {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: normal;
        margin-top: 10px;
    }
}

.main_header_form {
    padding-top: 30px;
    padding-bottom: 347px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    .main_header_form_input {
        width: 281px - 42px;
        height: 40px;
        border-radius: 2px;
        margin-right: 5px;
        padding-left: 40px;
        color: #a9a9a9;
        opacity: 1; // position: relative;
    }
    .form_decor {
        color: #a9a9a9;
        opacity: 1;
        position: absolute;
        width: 15px;
        height: 15px;
        display: block;
        top: 16px;
        left: 15px;
    }
    .wrap {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 0 auto;
    }
    .main_header_form_button {
        width: 211px;
        height: 46px;
        border-radius: 4px;
        background-color: #ffbb42;
        text-align: center;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        display: inline-block;
        color: #ffffff;
        text-transform: uppercase;
    }
}