@import 'reset';
// font-family: 'Lato', sans-serif;
// font-family: 'Open Sans', sans-serif;
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.logo {
    float: left;
    margin: 22px 0;
    .logo_img{
        width: 50px;
        height: 48px;
    }
}

.main_menu {
    float: right;
    .main_menu_list_item{
        display: inline-block;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 0;
    }
    .main_menu_list_item_link {
        color: #868686;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        padding: 12px 16px;
    }
    .main_menu_list_item:hover .main_menu_list_item_link{
        background-color: #ffbb42;
        color: #ffffff;
    }
}

.logo,
.main_menu {
    vertical-align: top;
}