@import 'reset.scss';
@import 'Gotham-Black.scss';
 //@import 'fontawesome';
// @import 'fa-solid';
// @import 'fa-brands';
// font-family: 'Lato', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Gotham', sans-serif;

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.main-header {
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  outline: 1px solid green;
}

.logo {
  float: left;
  margin: 22px 0;
  &__img {
    width: 50px;
    height: 48px;
  }
}

.menu {
  float: right;
}

.list {

  &__item {
    display: inline-block;
    vertical-align: top;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 0;
    &:hover .list__link {
      background-color: #FFBB42;
      color: #FFFFFF;
    }
  }

  &__link {
    color: #868686;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 16px;
  }
}

.banner {
  background-color: #709DCA;
  text-align: center;
  font-family: 'Gotham', sans-serif;
  color: #FFFFFF;

  &__wrapper {
  }

  &__title {
    font-size: 35px;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: -0.9px;
    padding-top: 98px;
    text-transform: uppercase;

  }

  &__text {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: normal;
    margin-top: 0;
  }

  &__form {
    padding-top: 30px;
    //padding-bottom: 347px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }

}

.form {

  &__wrap {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
  }

  &__decor {
    color: #A9A9A9;
    opacity: 1;
    position: absolute;
    width: 15px;
    height: 15px;
    display: block;
    top: 16px;
    left: 15px;
  }

  &__input {
    width: 281px - 42px;
    height: 44px;
    border: none;
    border-radius: 2px;
    margin-right: 5px;
    padding-left: 40px;
    color: #A9A9A9;
    opacity: 1;
  }

  &__button {
    width: 211px;
    height: 46px;
    border: none;
    border-radius: 2px;
    background-color: #FFBB42;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: inline-block;
    color: #FFFFFF;
    text-transform: uppercase;
    &:hover {
      background-color: #F6772C;
      border-color: #F6772C;
      cursor: pointer;
    }
  }

}

.slider {
  position: relative;
  min-height: 347px;

  &__wrapper {
    width: 648px;
    margin: 0 auto;
    position: absolute;
    top: 67px;
    left: 50%;
    margin-left: -324px;
  }

  &__laptop {
    width: 648px;
    height: 344px;
    background-image: url("../img/laptop_648x344.png");
    background-repeat: no-repeat;
  }

  &__item {
    width: 445px;
    height: 264px;
    position: absolute;
    top: 18px;
    left: 102px;
    background-color: #475459;
    background-image: url("../img/laptop_foto_445x264.png");
  }

  &__controls {
    margin: 22px auto;
    font-size: 0;
    text-align: center;
  }

  &__control-item {
    display: inline-block;
    vertical-align: top;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 50%;
    border: solid 2px #DEDFE0;
    background-color: #FFF;
    &:hover {
      border-color: #1CA8DD;
    }

    &--current {
      border-color: #1CA8DD;
    }

  }
}

.service {
  margin-top: 195px;
  padding-bottom: 143px;
  color: #394B50;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;

  &__title {
    font-family: 'Gotham', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: -0.8px;
    text-transform: uppercase;
  }

  &__text {
    text-align: center;
    font-size: 16px;
    line-height: 1.38;
  }

  &__list {
    margin-top: 19px;
    font-size: 0;
  }

  &__list-item {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-top: 66px;
    padding-left: 38px + 43px;
    padding-right: 60px;
    font-size: 0;
    outline: 1px solid red;
  }

  &__list-item:nth-child(even) {
    width: 540px;
    margin-left: 32px;
    padding-right: 0;
  }

  &__list-decor {
    position: absolute;
    top: 0;
    left: 0;
    color: #709DCA;
    font-size: 50px;
    &:hover {
      color: #F6772C;
    }
  }

  &__item-title {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.38;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase; // color: #394b50;
  }

  &__item-text {
    padding-top: 21px;
    font-size: 13px;
    line-height: 1.69;
    text-align: left;
    color: #7B7B7B;
  }

}

.about {
  box-sizing: border-box;
  background-color: #FFC155;
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    height: 100%;
    width: 50%;
    background-image: url("../img/about_us_850x623.png");
    background-size: cover;
    background-position: center right;
  }

  &__wrapper {
    box-sizing: border-box;
    padding-left: 50%;

  }

  &__title {
    font-family: 'Gotham', sans-serif;
    margin-left: 80px;
    padding-top: 154px;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.25;
    letter-spacing: -0.8px;
    text-align: left;
    color: #FFFFFF;
    text-transform: uppercase;

  }

  &__text {
    margin-left: 80px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: #FFFFFF;
    margin-top: 15px;

  }

  &__link {
    margin-left: 80px;
    margin-top: 26px;
    margin-bottom: 174px;
    border-radius: 2px;
    background-color: #FFC155;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: inline-block;
    color: #FFFFFF;
    padding: 15px 33px;
    text-transform: uppercase;
    border: solid 1px #E7AD48;

    &:hover {
      background-color: #E7AD48;
    }
  }

}

.price {
  background-color: #E7EDF3;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding-top: 136px;
  padding-bottom: 161px;
  color: #394B50;

  &__title {
    font-family: 'Gotham', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: -0.8px;
    text-transform: uppercase;
  }

  &__text {
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
  }

  &__list {
    font-size: 0;
    //margin-top: 75px;

  }

  &__list-item {
    display: inline-block;
    vertical-align: middle;

  }
}

.price-card {
  margin-top: 75px;
  margin-bottom: 30px;
  padding: 51px 31px 48px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  border-radius: 3px;
  background-color: #FFFFFF;
  border: solid 1px #CCD5DF;
  &:hover {
    background-color: #709DCA;
    margin-top: 45px;
    margin-bottom: 0;
    padding-top: 81px;
    padding-bottom: 78px;
  }

  &__title {
    font-size: 25px;
    font-weight: 300;
    line-height: 1.25;
    color: #818B95;
    text-transform: uppercase;

    .price-card:hover & {
      color: #FFF;
    }
  }

  &__price {
    margin-top: 20px;
    font-size: 60px;
    color: #FFBB42;
    font-weight: bold;

    .price-card:hover & {
      color: #FFF;
    }

  }

  &__currency {
    font-size: 32px;
    font-weight: 300;
    vertical-align: super;
  }

  &__text {
    font-size: 20px;
    line-height: 1.1;
    font-weight: 300;
    color: #818B95;
    font-variant: small-caps;

    .price-card:hover & {
      color: #FFF;
    }

  }

  &__features-list {
    margin-top: 30px;
    color: #B5BBC1;
    text-transform: uppercase;

    .price-card:hover & {
      color: #FFF;
    }

  }

  &__feature {
    padding: 0 80px;
    line-height: 40px;
    border-top: 1px solid #E2E9F0;
    .price-card:hover & {
      border-top: 1px solid #8EB8E2;
    }

  }

  &__link {
    margin-top: 15px;
    border-radius: 2px;
    background-color: #FFC155;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    color: #FFFFFF;
    padding: 16px 21px;
    text-transform: uppercase;

    &:hover {
      background-color: #F6772C;
      cursor: pointer;
    }

  }
}

.work-steps {
  color: #394B50;
  padding-top: 147px;
  padding-bottom: 149px;
  text-align: center;

  &__title {
    font-family: 'Gotham', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: -0.8px;
    text-transform: uppercase;

  }

  &__text {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;

  }



  &__step-list {
    margin-top: 74px;
    font-size: 0;
    text-align: center;
  }

  &__list-item {
    margin-left: 87px;
    //padding-top: 33px;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    width: 215px;
    &:first-child {
      margin-left: 0;
    }
  }

  &__list-decor {
    position: relative;
    color: #709DCA;
    font-size: 57px;
    padding-top: 33px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 116px;
      display: block;
      width: 129px;
      height: 33px;
      background-image: url("../img/Arrow_1_128x32.png");
      background-repeat: no-repeat;
    }

    .work-steps__list-item:nth-child(2n) &::after {
      transform: rotate(177deg);
      top: 96px;
    }

    .work-steps__list-item:last-child &::after {
      display: none;
    }

  }

  &__item-title {
    margin-top: 100px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.1;
    color: #394B50;
    text-transform: uppercase;

  }

  &__item-text {
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.69;
    color: #7B7B7B;
    font-weight: normal;

  }

  &__link {
    margin-top: 91px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
    background-color: #FFC155;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    padding: 16px 28px;
    text-transform: uppercase;

    &:hover {
      background-color: #F6772C;
      cursor: pointer;
    }
  }

}

.reviews {
  background-color: #ffc155;
  padding-top: 137px;
  padding-bottom: 160px;
  text-align: center;


  &__title {

    font-size: 30px;
    line-height: 1.2;
    font-family: 'Gotham', sans-serif;
    color: #FFFFFF;
    font-weight: 900;
    text-transform: uppercase;

  }

  &__text {

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height:1.38;
    color: #FFFFFF;
    font-weight: normal;


  }

  &__list {
    font-size: 0;
    padding-top: 38px;

  }

  &__list-item {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    margin-top: 13px;
    margin-right: 36px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.review-card {
  box-sizing: border-box;
  position: relative;
  width: 567px;
  background-color: #FFF;
  border-radius: 2px;
  padding-left: 182px;
  padding-right: 27px;
  padding-bottom: 51px;
  padding-top: 44px;
  text-align: left;

  &::before {
    content: '';
    display: block;
    width: 121px;
    height: 121px;
    position: absolute;
    top: 43px;
    left: 30px;
    border-radius: 50%;


  }
  &:nth-child(1)::before {
    background-image: url("../img/face1_121x121.png");
    background-repeat: no-repeat;
  }

  &:nth-child(2)::before {
    background-image: url("../img/face2_121x121.png");
    background-repeat: no-repeat;
  }

  &:nth-child(3)::before {
    background-image: url("../img/face3_121x121.png");
    background-repeat: no-repeat;
  }

  &:nth-child(4)::before {
    background-image: url("../img/face4_121x121.png");
    background-repeat: no-repeat;
  }





  &__blockquote {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height:1.69;
    text-align: left;
    color: #7B7B7B;
    //quotes: fa-content('\f10d');

    &::before, &::after {
      content: "";
      position: relative;
      top: -5px;
      display: inline-block;
      width: 11px;
      height: 9px;
      background-image: url("../img/quote.png");
      background-repeat: no-repeat;
    }

    &::after {
      transform: rotate(180deg);
    }

  }

  &__author {
    display: block;
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.57;
    font-weight: normal;
    font-family: 'Lato', sans-serif;

  }

  &__author-name {
    color: #f6772c;

  }

  &__author-career {

  }

}